<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAGMENTS</title>
</head>

<!-- =========                    HOME                    ========== -->

<body>
    <!-- ================== HEADER ================== -->
    <header th:fragment="header">
        <!-- ================== NAV ============== -->
        <nav class="navbar">
            <a th:href="@{/home}" class="logotipo">GRUPO 9</a>
            <div class="navbar__enlaces">
                <a th:href="@{/sobre-nosotros}">Sobre nosotros</a>
                <a href="#como-funciona" class="link-como-funciona">Cómo funciona</a>
            </div>
            <!-- si no existe datosPerfilUsuario mostrar registro y login -->
            <div th:if="${datosPerfilUsuario == null}" class="navbar__perfil">
                <a th:href="@{/nuevo-usuario}" class="btn-1">Registrarse</a>
                <a th:href="@{/login}" class="btn-1">Iniciar sesión</a>
            </div>

            <!-- si existe datosPerfilUsuario mostras busqueda y lista de compras -->
            <div th:if="${datosPerfilUsuario != null}" class="navbar__perfil">
                <a th:href="@{/busqueda-supermercados}" class="btn-1">Buscar Supermercados</a>
            </div>
            <div th:if="${datosPerfilUsuario != null}" class="navbar__perfil">
                <a th:href="@{/lista-compras}" class="btn-1">Lista de Compras</a>
            </div>
        </nav>


    </header>

    <!-- ============= FOOTER ================ -->
    <footer th:fragment="footer">
        <div class="container">
            <ul>
                <li>
                    <a th:href="@{/sobre-nosotros}" class="footer__subtitulos">Integrantes</a>
                    <ul class="sobre-nosotros__intrgantes">
                        <li><a th:href="@{/sobre-nosotros}">Aquino Santiago</a></li>
                        <li><a th:href="@{/sobre-nosotros}">Aysa Pereira Matias</a></li>
                        <li><a th:href="@{/sobre-nosotros}">Maida Santos Eric</a></li>
                        <li><a th:href="@{/sobre-nosotros}">Osorio Lucas Ezequiel</a></li>
                    </ul>
                </li>
                <li><a href="#como-funciona" class="footer__subtitulos">Cómo funciona</a></li>
                <li><a th:href="@{/home}" class="footer__subtitulos">Home</a></li>
            </ul>
        </div>

        <p class="footer__copyright">@2026 Grupo 9</p>
    </footer>

</body>

</html>