<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAGMENTS</title>
</head>

<body>
    <!-- ================== HEADER ================== -->
    <header th:fragment="header">
        <!-- ================== NAV ============== -->
        <nav class="navbar">
            <a th:href="@{/home}" class="logotipo">GRUPO 9</a>
            <div class="navbar__enlaces">
                <a href="#como-funciona" class="link-como-funciona">Cómo funciona</a>
            </div>
            <!-- si no existe datosPerfilUsuario mostrar registro y login -->
            <div th:if="${usuarioLogueadoEmail == null}" class="navbar__perfil">
                <a th:href="@{/nuevo-usuario}" class="btn-1">Registrarse</a>
                <a th:href="@{/login}" class="btn-1">Iniciar sesión</a>
            </div>
            
            <div th:if="${usuarioLogueadoEmail != null}" class="navbar__perfil">
                <a th:href="@{/logout}" class="btn-1">Cerrar sesión</a>
            </div>
        </nav>


    </header>

    <!-- ============= FOOTER ================ -->
    <footer th:fragment="footer">
        <div class="container">
            <ul>
                <li>
                    <a th:href="@{/sobre-nosotros}" class="footer__subtitulos">Integrantes</a>
                    <ul class="sobre-nosotros__integrantes">
                        <li><a href="#">Aquino Santiago</a></li>
                        <li><a href="#">Aysa Pereira Matias</a></li>
                        <li><a href="#">Maida Santos Eric</a></li>
                        <li><a href="#">Osorio Lucas Ezequiel</a></li>
                    </ul>
                </li>
                <li><a href="#como-funciona" class="footer__subtitulos">Cómo funciona</a></li>
                <li><a th:href="@{/home}" class="footer__subtitulos">Home</a></li>
            </ul>
        </div>

        <p class="footer__copyright">@2026 Grupo 9</p>
    </footer>

    <!-- una ves loguadodo lo  invita al panel -->
    <!-- MAIN- CALL TO ACTION PANEL CLIENTE -->
    <div th:fragment="call-to-action-panel-cliente" class="call-to-action sub-container">
        <div class="call-to-action__text">
            <h1 class="call-to-action__titulo">Ingresa al Panel de Usuario</h1>
            <p class="call-to-action__parrafo">Aquí podrás gestionar tus planes, buscar supermercados y mucho más.</p>
            <a th:href="@{/panel-cliente}" class="btn-1">Ir al Panel</a>
        </div>
        <img th:src="@{/img/canasta.png}" class="call-to-action-img" alt="Canasta de alimentos">

    </div>
</body>

</html>