<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAGMENTS</title>
</head>

<body>
    <!-- ================== HEADER ================== -->
    <header th:fragment="header" class="header-home">
        <nav class="navbar-home">

            <a th:href="@{/home}" class="logotipo-home">
                <img th:src="@{/img/logo.png}" alt="NutriWallet" class="logo-img-home"/>
                <span class="brand-text-home">
                Nutri<span class="brand-subtext-home">Wallet</span>
            </span>
            </a>

            <div class="header-divisor-home"></div>

            <div class="navbar-enlaces-home">
                <a href="#como-funciona">Cómo funciona</a>
            </div>
            <!-- Usuario NO logueado -->
            <div th:if="${usuarioLogueadoEmail == null}" class="navbar-acciones-home">

                <a th:href="@{/nuevo-usuario}" class="btn-nav-home btn-registro">
                    Registrarse
                </a>

                <a th:href="@{/login}" class="btn-nav-home btn-login">
                    Iniciar sesión
                </a>

            </div>
            <!-- Usuario logueado -->
            <div th:if="${usuarioLogueadoEmail != null}" class="navbar-acciones-home">

                <a th:href="@{/panel}" class="btn-nav-home btn-panel">
                    Ir al panel
                </a>

                <a th:href="@{/logout}" class="btn-nav-home btn-logout-home">
                    <i class="fas fa-sign-out-alt"></i>
                    Cerrar sesión
                </a>

            </div>
        </nav>
    </header>

    <!-- ============= FOOTER ================ -->
    <footer th:fragment="footer">
        <div class="container">
            <ul>
                <li>
                    <a th:href="@{/sobre-nosotros}" class="footer__subtitulos">Integrantes</a>
                    <ul class="sobre-nosotros__integrantes">
                        <li><a href="#">Aquino Santiago</a></li>
                        <li><a href="#">Aysa Pereira Matias</a></li>
                        <li><a href="#">Maida Santos Eric</a></li>
                        <li><a href="#">Osorio Lucas Ezequiel</a></li>
                    </ul>
                </li>
                <li><a href="#como-funciona" class="footer__subtitulos">Cómo funciona</a></li>
                <li><a th:href="@{/home}" class="footer__subtitulos">Home</a></li>
            </ul>
        </div>

        <p class="footer__copyright">@2026 Grupo 9</p>
    </footer>

    <!-- una ves loguadodo lo  invita al panel -->
    <!-- MAIN- CALL TO ACTION PANEL CLIENTE -->
    <div th:fragment="call-to-action-panel-cliente" class="call-to-action sub-container">
        <div class="call-to-action__text">
            <h1 class="call-to-action__titulo">Ingresa al Panel de Usuario</h1>
            <p class="call-to-action__parrafo">Aquí podrás gestionar tus planes, buscar supermercados y mucho más.</p>
            <a th:href="@{/panel-cliente}" class="btn-1">Ir al Panel</a>
        </div>
        <img th:src="@{/img/canasta.png}" class="call-to-action-img" alt="Canasta de alimentos">

    </div>
</body>

</html>