<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de compra</title>

    <!-- Boostrap core css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/lista-compras.css}">

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main class="container mt-5">

    <h1 class="titulo-principal">Comidas Generadas</h1>

    <div class="contenedor-comidas">
        <div class="card-dia" th:each="dia : ${dias}">
            <h2 class="fecha-dia" th:text="'DÍA ' + ${dia.numeroDia}"></h2>

            <details class="desplegable-comida" th:each="comida : ${dia.comidas}">
                <summary class="summary-comida">
                    <span th:text="${comida.tipo}"></span>
                </summary>
                <div class="detalle-contenido">
                    <h4 th:text="${comida.nombre}"></h4>
                    <ul class="lista-ingredientes">
                        <li th:each="item : ${comida.items}">
                            <span class="alimento-nombre" th:text="${item.alimento.nombre}"></span>
                            <span class="alimento-cantidad" th:text="${item.cantidadGramos + ' g'}"></span>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
    </div>

    <h1 class="titulo-principal">Lista de compras generada</h1>

    <div class="contenedor-comidas">
        <div class="card-compras">
            <ul class="lista-compras">
                <li th:each="item : ${listaDeCompras}">
                    <span class="alimento-nombre" th:text="${item.alimento.nombre}"></span>
                    <div class="precio-cantidad-box">
                        <span class="alimento-cantidad" th:text="${item.cantidadTotal + ' g'}"></span>
                        <span class="alimento-precio" th:text="'$ ' + ${item.precoTotal}"></span>
                    </div>
                </li>
            </ul>
            <div class="total-box">
                <h3>Total: $<span th:text="${totalLista}"></span></h3>
            </div>
        </div>
    </div>

    <div th:each="dato : ${test}">
        <p th:text="${dato}"></p>
    </div>

</main>

</body>
</html>

























