<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I - Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/header-nuevo.css}">

</head>
<body>
<header class="header-panel-nuevo">
    <nav class="navbar-nueva">
        <a th:href="@{/home}" class="logotipo-nuevo">
            <img th:src="@{/img/logo.png}" alt="Wallet Logo" class="logo-img-nav" />
            <span class="brand-text">Nutri<span class="brand-subtext">Wallet</span></span>
        </a>

        <div class="header-divisor"></div>
        <h2 class="eslogan-nav">TU SALUD Y TU BOLSILLO, EN ARMONÍA</h2>

    </nav>
</header>
<main class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>¡Hola de nuevo!</h2>
            <p>Ingresá tus credenciales para continuar</p>
        </div>
        <div th:if="${error != null}" class="alert-error-custom">
            <span th:text="'Error: ' + ${error}"></span>
        </div>

        <form th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
            <div class="form-group-custom">
                <input th:field="*{email}" type="email" id="email" class="form-input-custom" placeholder=" " required />
                <label for="email" class="form-label-custom">Correo electrónico</label>
            </div>
            <div class="form-group-custom">
                <input th:field="*{password}" type="password" id="password" class="form-input-custom" placeholder=" " required />
                <label for="password" class="form-label-custom">Contraseña</label>
            </div>
            <button id="btn-login" class="btn-submit-custom" type="submit" disabled>
                Iniciar Sesión
            </button>
        </form>

        <div class="auth-footer">
            <span>¿No tenés cuenta? </span>
            <a id="btn-register" href="registro.html" class="auth-link-custom">Registrate acá</a>
        </div>
    </div>
</main>
<script type="module" th:src="@{/js/login.js}"></script>
</body>

</html>