<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" th:href="@{/css/estilos-generales-panel-cliente.css}" />
</head>

<body>
    <header th:replace="~{fragments-panel-cliente :: header-panel}"></header>
    <aside th:replace="~{fragments-panel-cliente :: aside-panel}"></aside>


    <!-- ================== MAIN ================== -->
    <main>



    </main>


    <!-- ================== FOOTER ================== -->
    <footer>
    </footer>
</body>

</html>